<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Diabetes Prediction Model</h1>
    <form action='/predict' method="POST">
        <div>
            <div>
                <label for="1"><b>Gender</b></label>
                <br>
                <select name="gender" id="1" required>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Others</option>
                </select>
            </div>
            <div>

                <label for="2"><b>Age</b></label>
                <br>
                <input id="2" name="age" type="number" required>

            </div>

            <div>
                <label for="3"><b>Hyper Tension</b></label>
                <br>
                <select name="hypertension" id="3">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div>
                <label for="5"><b>Heart Disease</b></label>
                <br>
                <select name="heart_disease" id="5">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div>
                <label for="6"><b>Smoking History</b></label>
                <br>
                <select name="smoking_history" id="6">
                    <option value="0">Never</option>
                    <option value="1">No Info</option>
                    <option value="2">Current</option>
                    <option value="3">Former</option>
                    <option value="4">Ever</option>
                    <option value="5">Not Current</option>
                </select>
            </div>
            <div>
                <label for="6"><b> Hemoglobin A1C</b></label>
                <br>
                <input id="6" name="HbA1c_level" type="text" required>

            </div>
            <div>
                <label for="7"><b>Blood Glucose Level</b></label>
                <br>
                <input id="7" name="blood_glucose_level" type="number" required>

            </div>

        </div>

        <div>
            <button type="submit">Predict Probability</button>
        </div>
    </form>
    <br>
    <h4><b>{{pred}}</b></h4>
    <br>
</body>

</html>